<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="happy-order-heading" data-cy="OrderCreateUpdateHeading" happyTranslate="happyFoodApp.order.home.createOrEditLabel">
        Create or edit a Order
      </h2>

      <div>
        <happy-alert-error></happy-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" happyTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.order.orderRequired" for="field_orderRequired">Order Required</label>
          <input
            type="text"
            class="form-control"
            name="orderRequired"
            id="field_orderRequired"
            data-cy="orderRequired"
            formControlName="orderRequired"
          />
          <div
            *ngIf="
              editForm.get('orderRequired')!.invalid && (editForm.get('orderRequired')!.dirty || editForm.get('orderRequired')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('orderRequired')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('orderRequired')?.errors?.maxlength"
              happyTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.order.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" happyTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.order.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('amount')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('amount')?.errors?.number"
              happyTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.order.fullOrderValue" for="field_fullOrderValue">Full Order Value</label>
          <input
            type="number"
            class="form-control"
            name="fullOrderValue"
            id="field_fullOrderValue"
            data-cy="fullOrderValue"
            formControlName="fullOrderValue"
          />
          <div
            *ngIf="
              editForm.get('fullOrderValue')!.invalid && (editForm.get('fullOrderValue')!.dirty || editForm.get('fullOrderValue')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fullOrderValue')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('fullOrderValue')?.errors?.number"
              happyTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.order.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option *ngIf="!editForm.get('customer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.firstName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['customer'])?.errors?.required"
            happyTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span happyTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span happyTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
