<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="horary">
      <h2 data-cy="horaryDetailsHeading"><span happyTranslate="happyFoodApp.horary.detail.title">Horary</span></h2>

      <hr />

      <happy-alert-error></happy-alert-error>

      <happy-alert></happy-alert>

      <dl class="row-md jh-entity-details">
        <dt><span happyTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ horary.id }}</span>
        </dd>
        <dt><span happyTranslate="happyFoodApp.horary.startTime">Start Time</span></dt>
        <dd>
          <span>{{ horary.startTime }}</span>
        </dd>
        <dt><span happyTranslate="happyFoodApp.horary.endTime">End Time</span></dt>
        <dd>
          <span>{{ horary.endTime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span happyTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/horary', horary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span happyTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
