<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="happy-work-day-heading" data-cy="WorkDayCreateUpdateHeading" happyTranslate="happyFoodApp.workDay.home.createOrEditLabel">
        Create or edit a Work Day
      </h2>

      <div>
        <happy-alert-error></happy-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" happyTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.workDay.dayName" for="field_dayName">Day Name</label>
          <input type="text" class="form-control" name="dayName" id="field_dayName" data-cy="dayName" formControlName="dayName" />
          <div *ngIf="editForm.get('dayName')!.invalid && (editForm.get('dayName')!.dirty || editForm.get('dayName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dayName')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dayName')?.errors?.maxlength"
              happyTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              This field cannot be longer than 40 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.workDay.month" for="field_month">Month</label>
          <input type="text" class="form-control" name="month" id="field_month" data-cy="month" formControlName="month" />
          <div *ngIf="editForm.get('month')!.invalid && (editForm.get('month')!.dirty || editForm.get('month')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('month')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('month')?.errors?.maxlength"
              happyTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              This field cannot be longer than 40 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.workDay.state" for="field_state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null">{{ 'happyFoodApp.State.null' | translate }}</option>
            <option *ngFor="let state of stateValues" [value]="state">{{ 'happyFoodApp.State.' + state | translate }}</option>
          </select>
          <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('state')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.workDay.horary" for="field_horary">Horary</label>
          <select class="form-control" id="field_horary" data-cy="horary" name="horary" formControlName="horary">
            <option *ngIf="!editForm.get('horary')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="horaryOption.id === editForm.get('horary')!.value?.id ? editForm.get('horary')!.value : horaryOption"
              *ngFor="let horaryOption of horariesSharedCollection; trackBy: trackHoraryById"
            >
              {{ horaryOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['horary'])!.invalid && (editForm.get(['horary'])!.dirty || editForm.get(['horary'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['horary'])?.errors?.required"
            happyTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span happyTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span happyTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
