<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoiceProduct">
      <h2 data-cy="invoiceProductDetailsHeading"><span happyTranslate="happyFoodApp.invoiceProduct.detail.title">Invoice Product</span></h2>

      <hr />

      <happy-alert-error></happy-alert-error>

      <happy-alert></happy-alert>

      <dl class="row-md jh-entity-details">
        <dt><span happyTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ invoiceProduct.id }}</span>
        </dd>
        <dt><span happyTranslate="happyFoodApp.invoiceProduct.date">Date</span></dt>
        <dd>
          <span>{{ invoiceProduct.date | formatMediumDate }}</span>
        </dd>
        <dt><span happyTranslate="happyFoodApp.invoiceProduct.product">Product</span></dt>
        <dd>
          <div *ngIf="invoiceProduct.product">
            <a [routerLink]="['/product', invoiceProduct.product?.id, 'view']">{{ invoiceProduct.product?.serial }}</a>
          </div>
        </dd>
        <dt><span happyTranslate="happyFoodApp.invoiceProduct.invoice">Invoice</span></dt>
        <dd>
          <div *ngIf="invoiceProduct.invoice">
            <a [routerLink]="['/invoice', invoiceProduct.invoice?.id, 'view']">{{ invoiceProduct.invoice?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span happyTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice-product', invoiceProduct.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span happyTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
