/* ==========================================================================
Main page styles
========================================================================== */

.main-image {
  position: relative;
  margin: auto;
  background-image: url('~content/images/HappyFoodBanner.jpeg');
  background-size: 100% 100%;
  border: 5px solid black;
  height: 700px;
  overflow: hidden;
}
