<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="happy-inventory-heading"
        data-cy="InventoryCreateUpdateHeading"
        happyTranslate="happyFoodApp.inventory.home.createOrEditLabel"
      >
        Create or edit a Inventory
      </h2>

      <div>
        <happy-alert-error></happy-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" happyTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.inventory.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('amount')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('amount')?.errors?.number"
              happyTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.inventory.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              happyTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.inventory.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('price')?.errors?.required"
              happyTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('price')?.errors?.number"
              happyTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" happyTranslate="happyFoodApp.inventory.invoice" for="field_invoice">Invoice</label>
          <select class="form-control" id="field_invoice" data-cy="invoice" name="invoice" formControlName="invoice">
            <option *ngIf="!editForm.get('invoice')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="invoiceOption.id === editForm.get('invoice')!.value?.id ? editForm.get('invoice')!.value : invoiceOption"
              *ngFor="let invoiceOption of invoicesSharedCollection; trackBy: trackInvoiceById"
            >
              {{ invoiceOption.invoiceNumber }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['invoice'])!.invalid && (editForm.get(['invoice'])!.dirty || editForm.get(['invoice'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['invoice'])?.errors?.required"
            happyTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span happyTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span happyTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
